body{
background: rgb(253, 200, 200);
text-align: center;


}

nav{
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
text-align: center;

}

div{
background: rgb(194, 80, 80);

}



.titulo{

    background: rgb(99, 2, 2);
    
}

